@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./img/ricknmorty.jpeg); */
  background-color: #e8e8e8;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: 'Poppins', sans-serif;
}

