@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bgwhite);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: 'Poppins', sans-serif;
}


:root {
  --color-bgwhite: #e8e8e8;
  --color-bgdark: #202125;
}
